@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

h1 {
  margin:10px;
  text-align: center;
}

/*
*  NAV
*/
.nav-item {
  max-width: 200px;
}

.tab-content {
  margin-top: 10px;
  padding: 10px;
  border-color: $nav-tabs-border-color;
  border-radius: $nav-tabs-border-radius;
  height: 100%;
  background-color: rgb(238, 238, 238);
}



/*
*  CARDS
*/

h3 {
  font-size: 18px;
}

.nav-tabs {
  border-bottom: 0px;
}

.card {
  margin-bottom: 10px;
}

.card-body {
  display:flex;
  justify-content: space-between;
}


button {
  border: none;
  background-color: #FFF;
  padding-left:0px;
}

.bi-star-fill {
  color: #FFD700
}

.bi-star {
  color: #999999
}

#notesField {
  width: 250px;
}